[Unit]
Description=Docker Container for GoApp
After=docker.service
Requires=docker.service
[Service]
ExecStart=/usr/bin/docker run -d -p 80:8080 --name go_app rai68/skillbox_app
ExecStop=/usr/bin/docker stop go_app
ExecStopPost=/usr/bin/docker rm go_app
Restart=always
[Install]
WantedBy=default.target